body {
	background-color: rgb(32, 32, 32) !important;
}

.App {
	text-align: center;
	/*min-height: 100vh;*/
	max-height: 500px;
	background-color: rgb(32, 32, 32);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.longPrepend {
	width: 43px;
}

.longText {
	width: 100%;
	background-color: black !important;
	border: 1px solid white !important;
}

.invisiblePrepend {
	visibility: hidden;
}

.form-control {
	color: white;
}

.darkControl {
	color: white !important;
	background-color: black !important;
	border: 1px solid white !important;
}

.darkButton {
	background-color: black !important;
	border: 1px solid white !important;
	margin-top: 10px !important;
}

.whiteIcon {
	color: white;
}

.darkSelect {
	padding-right: 0px;
}

.pdfDiv {
	margin-left: auto;
	margin-right: auto;
	width: 240px;
	text-align: center;
}

.qrInfoDiv {
	font-size: 13px;
	margin-top: 20px;
}

.ReactModal__Content--after-open {
	inset: 25px !important;
	padding: 10px !important;
}

input[type=checkbox] {
    transform: scale(2);
}