.App {
	text-align: center;
	min-height: 100vh;
	background-color: rgb(32, 32, 32);
}

.longPrepend {
	width: 43px;
}

.longText {
	width: 100%;
	background-color: black !important;
	border: 1px solid white !important;
}

.invisiblePrepend {
	visibility: hidden;
}

.form-control {
	color: white;
}

.darkControl {
	color: white !important;
	background-color: black !important;
	border: 1px solid white !important;
}

.darkButton {
	background-color: black !important;
	border: 1px solid white !important;
	margin-top: 10px !important;
}

.whiteIcon {
	color: white;
}

.darkSelect {
	padding-right: 0px;
}